*
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*start navbar**********************************************************************/
.navbar-default
{
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: 100px;
}

/*background when scroll*/
.background-scroll
{
  background-color: #1D1D1D;
}

/*a - li*/
.navbar-default .navbar-nav > li > a
{
  color: #eee;
}
.navbar-nav > li > a
{
    font-size: 15px;
    font-weight: 700;
    padding-top: 40px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
  color: #F7D297;
  background-color: transparent;
  font-size: 17px;
}

/*button reservation*/
.reservation
{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 650;
  margin-top: 24px;
  color: #000;
  margin-right: 15px;
  background-color: #F7D297;
  border-radius: unset;
}

.reservation:hover, 
.reservation:focus, 
.reservation:active
{
  color: #fff;
  background-color: #F7D297;
}

/*button 3span*/
.navbar-default .navbar-toggle
{
  padding: 13px 12px;
  margin-top: 25px;
  border: 3px solid #eee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
{
  background-color: #1D1D1D;
  border: 3px solid #F7D297;
}
/*3 span in button*/

.navbar-default .navbar-toggle .icon-bar
{
width: 32px;
height: 4px;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #eee;
}

/*brand*/
.img-responsive
{
  margin-left: 20px;
}
@media(max-width:500px)
{.img-responsive {margin-left: 0px;}}
@media(max-width:769px)
{
  .navbar-default .navbar-nav > li > a,
 
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus  {padding-top: 25px; background-color: #1D1D1D }
  
}
/*end navbar****************************************************************************************/